body{
    min-height: 100vh;

}

.nav-link{
    color: #fff;
    transform: scale(0.9);
    transition: all ease 0.5s;
}

.container-nav{

}

.navbar{
    background-color: rgb(2, 75, 158);
    width: 100%;
    position: fixed;
    height: 10%;
    top: 0;
    z-index: 2;
}

.navbar-nav p{
    margin: 0px;
}

.nav-link:hover{
    transform: scale(1);
}

.navbar-nav {
    --bs-nav-link-hover-color: rgb(255, 255, 255);
}

a{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carrousel-galery{
    margin-top: 90px;
}

.carousel-item img{
    width: 100%;
    margin: 0 auto;
    max-height: 70vh;
}

.carousel-caption{
    color: #fff !important;
}

.carousel-indicators [data-bs-target] {
    background-color: #f8f9fa !important;
}

.carousel-indicators{
    z-index: 1;
}

.funcionarios .col{
    display: flex;
    justify-content: space-around;
}

.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: rgb(2, 75, 158);
    height: 50px;
    width: 50px;
    margin: auto;
}

@keyframes is-rotating {
to {
    transform: rotate(1turn);
}
}

.text-bg-primary, .btn-primary{
    background-color: rgb(2, 75, 158) !important;
}

footer{
    text-align: center;
}

@media screen and (max-width: 800px) {
    .navbar-nav p{
        width: 30%;
        margin-left: 2%;
    }
    .nav-link{
        text-align: start;
        display: flex;
        flex-direction: row;
        margin: 3% 0px;
        transform: scale(1);
    }

    .c-loader{
        margin: 10% auto;
    }
}

@media screen and (min-width: 1100px) {
    .nav-link{
        font-size: 18px;
        margin-right: 20px;
    }
    .telefone{
        margin-right: 0px;
    }
}